/* Estilos generales */
root{
    --bg-color:#c791d4;
    --primary-color:#9f3647;
    --secondary-color:#ffc098;
    --third-color:#db4648;
    --third-bis-color:#db4648f2;
    --bg-input-color:#4f31572c; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

header {
    /* background-color: #572c35; */
    /* background-color: #0000ff; */
    color: white;
    padding: 20px;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
} 

section {
    padding: 20px;
}

/* eliminar decoracion de hiperviculos*/
a{
  text-decoration: none;
} 

h2{
    color: blue;
    font-weight: bold;
    font-size: 2vw;  
    text-align: center;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding: 90px 20px 0;
    /* background-color: blue; */
    /* background-image: url("../Img/PH02074U.BMP"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

section {
    padding: 20px;
}

/**/

#habitaciones {
    display: flex;
    /* justify-content: space-around; Distribuye las habitaciones uniformemente */
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}

#ubicacion-heading {
            background-color: #6495ED;
            border-radius: 10px;
            padding: 10px 20px;
            margin: 20px;
            text-align: center;
            display: inline-block;
            animation: changeColor 10s infinite; /* Cambiamos la duraci칩n a 10 segundos y hacemos la animaci칩n infinita */
            overflow: hidden; /* Para evitar que el texto se desenfoque */
           /*padding: 10px 20px; /* Espaciado interno */
           /*margin: 0px auto; /* Margen y centrado horizontal */
           /* margin: 20px;
           /* text-align: center; /* Alinear texto al centro */
            /*overflow: hidden; /* Para evitar que el texto se desenfoque */
            /*max-width: 80%; /* Ancho m치ximo del contenedor */
            /*color: white; /* Color del texto */
}

#ubicacion-heading h2 {
            font-size: 28px; /* Reducimos el tama침o del texto */
            color: white; /* Color del texto */
            margin: 0; /* Eliminamos el margen */
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /
            /*background-color: #6495ED; /* Color de fondo */
            /*border-radius: 10px; /* Bordes redondeados */
            /*font-size: 28px; /* Tama침o de fuente */
            /*margin: 0; /* Eliminar margen */
            /*color: white; /* Color del texto */
            /*padding: 10px; /* Espaciado interno */
            /*text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* Sombra del texto */
            /*animation: changeColor 10s infinite; /* Animaci칩n de cambio de color */
}

/**/

#logo{
    color: black;
    font-weight: bold;
    font-size: 2.5vw; 
    background-color: blue;  
}

#elnav{
    background-color: blue; 
    font-weight: bold; 
    height: 30px;
}

#elnav a {
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding-left: 30px;
    text-decoration: none;
}

#elnav a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
}

#logo a {
    color: black;
    text-decoration: none;
} 

#footer a {
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding-left: 30px;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
}

#footer{
    background-color: blue; 
    /* background-color: rgba(105,210,231, 050); */
    display: flex;
    height: 180px;
    width: 100%;
}

#formulario {
    max-width: 600px;
    margin: 0 auto;
}

#ubicacion{
align-items: center;
}

<<<<<<< HEAD
#banner{
    background-image: url('../img/PH02074U.BMP'); 
=======
#banner {
    /* background-image: url('../img/PH02074U.BMP'); */
>>>>>>> 4ta-version
    background-size: cover;
    background-position: center;
    height: 200px;
    box-shadow: inset 0 0 0 2000px rgba(84, 84, 84, 0.5);
    text-align: center;
}

<<<<<<< HEAD
#banner2{
    background-image: url('../Img/BlueMinotavr.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100px;
    box-shadow: inset 0 0 0 2000px rgba(84, 84,84, 0.5);
    text-align: center;
}
=======
>>>>>>> 4ta-version

#bannercarruel{
    /* background-image: url('../img/PH02074U.BMP'); */ 
    /* background-color: rgb(201, 188, 188); */
    /* background-color: rgb(201, 188, 188);; */
    background-size: cover;
    background-position: center;
    height: 150px;
    box-shadow: inset 0 0 0 2000px rgba(84, 84,84, 0.5);
    text-align: center;
}

#top-rated{
    margin: 50px 0px;
} 

#popular, #top-rated{
    text-align: center;
}

#popular h2,#top-rated h2{
    margin: 50px 0px;
}

/* estilo para sarch*/
#search{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*  C L A S E S */
/* fuentes  */




.scrolled{
    background-color: var(--third-color);
  }

/*para la barra de busqueda*/
.search-title{
    color: white;
    font-size: 3vw;
}

.movie-item-img{
    width: 200px;
    height: 300px; 
    object-fit: cover;
    /* especifica como debe ajustarse y escalarse una imagen o un video.
    el valor de cover asegura que le contenido se ajsute al contenedor manteniendo
    su proporcion y cubriendo todo el ancho disponible
    */
    -o-object-fit: cover; /*para ver en el navegador OPERA*/
}

.gifanimate{
    align-items: center;
    align-content: center;  
}

.header{
    background-color: blue; 
    color: blue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
} 

.btn-cac{
    background-color: var(--primary-color);
    background-color:blue;
    padding: 10px;
    border-radius: 10px;
    color: #fafafe;
    cursor: pointer;
}

.container{
    max-width: 1200px;
    margin: 120px auto; 
}

.card-banner{
    margin: 0 auto;
    text-align: center;
    padding: 0px 160px;
}

.input-search{
    background-color: var(--bg-input-color);
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    height: 50px;
    margin: 20px 0px;
    outline: none;
    padding: 0px 20px;
    width: 70%;
    font-family: 'Nunito', sans-serif;
}

.movie-item-detail{
    bottom: -100%;
    padding: 30px;
    max-height: 100%;
    overflow-y: auto;
    line-height: 15px;
    position: absolute;
    background-color: #0000ff;
    box-sizing: border-box;
    transition: bottom 0.4s ease-in-out;
    width: 100%;
}

.movie-item-detail-title{
    color: black;
    margin: 5px 0 0 0;
    line-height: 1.2em;
}

.movie-item-detail-subtitle{
    color: black;
    font-size: 8px;
    margin: 3px 0px;
}

.wraper{
    box-shadow: 0 2px 15px rgba(0,0,0,1);
    border-radius: 50px;
    width: 100%;
    min-height: calc(150px*1.5);
    height: calc(150px*1.5);
    overflow: hidden;
}

.movie-item-img-v2{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.movie-item-detail-v2{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.movie-item-detail-title-v2{
    color: white;
    font-weight: bold;
    margin: 5px 0px 0px 0px;
}

.movie-item-detail-subtitle-v2{
    color: white;
    font-size: 12px;
    margin: 3px 0px;
}

.nav-links{
    text-decoration: none;
    color: #fff;
}

.nav-links a:hover{
    color: var(--secondary-color);
} 

.btn-cac:hover{
    color: var(--secondary-color)!important;
    border: 2px solid var(--secondary-color);
}

.card-banner h1{
    color: #fff;
    font-size: 4vw;
}

.card-banner h2{
    margin-bottom: 20px;
}

.movie-item{
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 200px;
    height: 300px;
    font-size: 20px;
    cursor: pointer;
    transition: all 450ms;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.movie-item:hover{
    opacity: 0.9;
}

.p{
    color: white;
    font-size: 2vw;     
}

.p1{
    color: black;
    font-size: 2.5vw;     
}

.p2{
    color: black;
    font-size: 3vw;     
}

.movie-item:hover .movie-item-detail{
    bottom: 0;
}

.mapa-container {
    display: flex;
    justify-content: center;
}


.movie-item-detail-subtitle::after{
    content: '游';
}

.movie-item-detail-title-v2:hover{
    color: var(--primary-color);
}

.movie-item-detail-subtitle-v2::after{
    content: '游';
}

<<<<<<< HEAD
/***/
.habitacion {
    width: 300px;
    padding: 10px;
    background-color: #f0f0f0; /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 0px 15px rgba(184, 49, 49, 0.2); /* Sombra */
    margin-bottom: 20px;
    text-align: center;
    transition: background-color 0.3s; /* Transici칩n del color de fondo */
}

.habitacion:hover {
    background-color: #fa4444; /* Cambiamos el color al pasar el cursor */
    color: white; /* Cambiamos el color del texto al pasar el cursor */
}

.habitacion img {
    width: 100%;
    height: 150px; /* Reducimos la altura de las im치genes */
    object-fit: cover; /* Evita que las im치genes se deformen */
    border-radius: 10px 10px 0 0; /* Bordes redondeados solo en la parte superior */
}

.habitacion .contenido {
    padding: 20px;
    color: #000000; /* Color del texto invertido */
}

.habitacion h3 {
    font-size: 20px; /* Reducimos el tama침o del t칤tulo */
    margin-bottom: 10px;
}

.habitacion p {
    font-size: 14px; /* Reducimos el tama침o del texto */
    color: #000000;
    margin: 0;
    padding: 10px;
}
/**/

/*media query para las dispositivos*/        
@keyframes changeColor {
    0% { background-color: #000000; }
    20% { background-color: #3b76e4; }
    40% { background-color: #fc17c3ea; }
    60% { background-color: #37bd37; }
    80% { background-color: #8A2BE2; }
    100% { background-color: #ff0000; }
}

=======
.propietario-card {
    width: 200px; /* Ancho de la tarjeta */
    padding: 20px; /* Espaciado interno */
    background-color: #f0f0f0; /* Color de fondo */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    text-align: center; /* Alinear contenido al centro */
    margin: 20px; /* Margen exterior */
    display: inline-block; /* Mostrar en l칤nea */
}

.propietario-card img {
    width: 100px; /* Ancho de la imagen */
    height: 100px; /* Altura de la imagen */
    border-radius: 50%; /* Hacer la imagen circular */
    margin-bottom: 10px; /* Margen inferior */
}

main {
    display: flex; /* Usa el modelo de caja flexible */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan si el espacio es insuficiente */
}


.propietario-card {
    position: relative;
    width: 280px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 20px;
    display: inline-block;
    transition: background-color 0.3s; /* Transici칩n del color de fondo */
}

.propietario-card:hover {
    background-color: #333;
}

.propietario-card:hover h2 {
    color: rgb(157, 255, 0); /* Cambiamos el color del nombre al pasar el cursor */
}

.propietario-card:hover p {
    color: white; /* Cambiamos el color del texto al pasar el cursor */
}

#ubicacion-heading h2 {
    color: white; /* Color del texto */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* A침adimos sombra al texto */
}

/*media query para las dispositivos*/
/* Media Queries para dispositivos */
/*Tablets*/
>>>>>>> 4ta-version
@media screen and (min-width: 768px) and (max-width: 1023px) {
    #banner {
        height: 400px;
    }

    #search {
        height: 200px;
    }

    #footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h2{
        font-size: 3vw;
    }

    .login-text {
        display: none;
    }

    .logo-text {
        display: none;
    }

    .container {
        max-width: 720px;
    }

    .card-banner {
        padding: 0px 75px;
    }
}


/* Media Queries para dispositivos */
/* CELULARES */
@media screen and (max-width: 767px) {
    #banner {
        height: 300px;
    }

    #search {
        height: 200px;
    }

    #footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #footer a {
        padding: 2px 0px;
    }

    h2 {
        font-size: 3vw;
    }

    .h2-subtitle {
        font-size: 5vw;
    }

    .login-text {
        display: none;
    }

    .logo-text {
        display: none;
    }

    .container {
        max-width: 420px;
    }

    .card-banner {
        padding: 0px 50px;
    }

    .btn-cac {
        font-size: 1vh;
    }
}
