#ubicacion-heading {
    background-color: #6495ED;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px;
    text-align: center;
    /* display: inline-block; */
    animation: changeColor 10s infinite; /* Cambiamos la duración a 10 segundos y hacemos la animación infinita */
    overflow: hidden; /* Para evitar que el texto se desenfoque */
   /*padding: 10px 20px; /* Espaciado interno */
   /*margin: 0px auto; /* Margen y centrado horizontal */
   /* margin: 20px;
   /* text-align: center; /* Alinear texto al centro */
    /*overflow: hidden; /* Para evitar que el texto se desenfoque */
    /*max-width: 80%; /* Ancho máximo del contenedor */
    /*color: white; /* Color del texto */
}


.containergrid{
 /* background-color: whitesmoke; */

 padding: 20px;

 display: grid;

 grid-template-columns: repeat(3, 1fr);

 column-gap: 10px;

 row-gap: 10px;

 gap: 10px;
}

.box{
/* background-color: white; */
color: black;
font-weight: bold;
font-size: 1vw;  
/* align-items:center;  */
text-align: center;
padding: 10px;
text-align: center;
/* border: 1px dotted black; */
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .containergrid{
        /* background-color: whitesmoke; */
       
        padding: 10px;
       
        display: grid;
       
        grid-template-columns: repeat(1, 1fr);
       
        column-gap: 5px;
       
        row-gap: 5px;
       
        gap: 5px;
       }
}
