*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Nunito', sans-serif; */
}

/*clase para el navegador*/
.header1{
  background-color: lightblue;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.logoimagen1{
    /* position: fixed; */
    padding: 0px;
    /* line-height: 15px;  */
    height: 55px;
    width: 65px;   
}

.nav1{
    display: flex;
    justify-content: space-between;

    /* max-width: 1200px; */
    margin: 50 auto;
}

.nav1-link{
    color: white;
    text-decoration: none;
}

.logo1{
    font-size: 18px;
    font-weight: bold;
    padding: 0 8px;
    line-height: 80px;
}

.nav1-menu{
    display: flex;
    margin-right: 20px;
    list-style: none;
}

.nav1-menu-item{
    font-size: 15px;
    font-weight: bold;
    margin: 20 3px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav1-menu-link{
padding: 8px 12px;
border-radius: 3px;

}

.nav1-menu-link:hover,
.nav1-menu-link_active{
    background-color: #034574;
    transition: 0.5s;  
}

.nav1-toggle{
     cursor: pointer;
     color: white;
     border: none;
     font-size: 20px;
     padding: 0 0px;
     line-height: 60px;
     display: none;
}

@media (max-width: 768px) {
    body{
        padding-top: 70px;
    }

    .header1{
        height: 60px;
    }

    .logo1{
        font-size: 20px;
        padding: 0 20px;
        line-height: 40px;
    }

    .nav1-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: blue;
        position: fixed;
        font-size: 10px;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 10px 0;
        height: calc(100% - 60px);
        overflow-y: auto;
        left: 100%;
        transition: left 1.5s;
    }

    .nav1-menu-item{
        line-height: 50px;
    }

    .nav1-menu-link:hover,
    .nav1-menu-link_active {
        background: none;
        color:black;
    }

    .nav1-toggle{
        display: block;
    }

    .nav1-menu_visible{
        left: 0;
    }

    .logoimagen1{
        padding: 0px;
        /* line-height: 15px;  */
        height: 45px;
        width: 45px;   
    }

}